@model MvcStoreLab.Models.Product

@{
    ViewData["Title"] = "Підтвердження Видалення";
}

<h1>@ViewData["Title"]</h1>

<h3>Ви впевнені, що хочете видалити цей продукт?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-3">@Html.DisplayNameFor(model => model.Name)</dt>
        <dd class = "col-sm-9">@Html.DisplayFor(model => model.Name)</dd>

        <dt class = "col-sm-3">@Html.DisplayNameFor(model => model.Price)</dt>
        <dd class = "col-sm-9">@Model.Price.ToString("C")</dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Видалити" class="btn btn-danger" />
        <a asp-action="List" class="btn btn-secondary">Повернутися до списку</a>
    </form>
</div>